<div class="panel panel-primary">
    <div class="panel-heading">{{:: T[mode.toUpperCase()] + ' ' + labelSingle }}</div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <form name="form" ng-submit="form.$valid ? submit() : setControlsToDirty(form)" class="form-horizontal" novalidate>
                    <div class="form-group" ng-repeat="control in formControls" ng-class="{'has-error': !form[control.id].$pristine && form[control.id].$invalid}">
                        <label for="{{:: control.id }}" class="col-sm-4 control-label">{{:: TC(control.name) }}</label>

                        <div class="col-sm-8">
                            <input ng-if="control.type === 'Symbol'"
                                class="form-control"
                                type="text"
                                name="{{:: control.id }}"
                                id="{{:: control.id }}"
                                ng-model="item[control.id]"
                                ng-pattern="control.validation.regexp.pattern"
                                ng-required="control.required">

                            <input ng-if="control.type === 'Date'"
                                class="form-control"
                                type="date"
                                name="{{:: control.id }}"
                                id="{{:: control.id }}"
                                ng-model="item[control.id]"
                                ng-required="control.required"
                                date-to-int>

                            <div ng-if="control.type === 'Boolean'" class="checkbox">
                                <label>
                                    <input type="checkbox"
                                        name="{{:: control.id }}"
                                        id="{{:: control.id }}"
                                        ng-model="item[control.id]"
                                        ng-true-value="true" ng-false-value="false">
                                </label>
                            </div>

                            <textarea ng-if="control.type === 'Text'"
                                class="form-control"
                                rows="5"
                                name="{{:: control.id }}"
                                id="{{:: control.id }}"
                                ng-model="item[control.id]"
                                ng-required="control.required">
                            </textarea>


                            <input ng-if="control.type === 'Array'"
                                class="form-control"
                                type="text"
                                name="{{:: control.id }}"
                                id="{{:: control.id }}"
                                ng-model="item[control.id]"
                                ng-list
                                ng-required="control.required">

                            <input ng-if="control.type === 'Number' || control.type === 'Integer'"
                                class="form-control"
                                type="number"
                                name="{{:: control.id }}"
                                id="{{:: control.id }}"
                                ng-model="item[control.id]"
                                ng-required="control.required">

                            <div ng-if="control.type === 'Link' && control.linkType === 'Asset'">
                                <input class="form-control"
                                    type="file"
                                    name="fileFile"
                                    id="{{:: control.id }}"
                                    ng-model="item.fileFile"
                                    ngf-select="item[control.id] = $file"
                                    ngf-pattern="'image/*,application/pdf'"
                                    ngf-resize="{width: 200, height: 200}">

                                <input class="ng-hide"
                                    name="{{:: control.id }}"
                                    ng-model="item[control.id]"
                                    ng-required="control.required">

                                <div ng-if="item[control.id].__contentType.indexOf('image') === 0 || item[control.id].type.indexOf('image') === 0">
                                    <img ngf-thumbnail="item[control.id].__url || item[control.id]" width="200">
                                    <a href="" ng-click="item[control.id] = null; item.fileFile = null">{{:: T.REMOVE }}</a>
                                </div>

                                <div ng-if="item[control.id].__contentType === 'application/pdf' || item[control.id].type === 'application/pdf'">
                                    <a ng-if="item[control.id].__contentType === 'application/pdf'" class="btn btn-default" role="button" download ng-href="{{ item[control.id].__url }}">
                                        {{:: T.DOWNLOAD }}
                                    </a>
                                    <a href="" ng-click="item[control.id] = null; item.fileFile = null">{{:: T.REMOVE }}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" class="btn btn-primary" ng-class="{disabled: form.$invalid}" ng-disabled="requestInProgress">{{:: primaryButtonLabel }}</button>
                            <a ui-sref="{{:: returnState || '^.list' }}" role="button" class="btn btn-default">{{:: T.CANCEL }}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<pre>{{ item | json }}</pre>
<pre>{{ formControls | json }}</pre>
